table.translation,
table.translation th,
table.translation td {
    border: none;
}

table.translation th,
table.translation td {
    padding: 10px;
}

table.translation td:first-child {
    border-right: 1px solid #000; 
}




  @media (min-width: 853px) {
    .thumbnail {
      min-width: 200px;
      min-height: 100px;
      height: auto;
    }
  
    .article {
      flex-wrap: nowrap;
    }
  }